.container {
	max-width: 960px;
	width: 100%;
	margin: 0 auto;
}

.tabs {
	list-style: none;
	margin: 0;
	padding: 0;
}

.tabs li {
	display: inline-block;
	padding: 15px 25px;
	background-color: lightseagreen;
	text-transform: uppercase;
	cursor: pointer;
}

.tabs li.current {
	background: #e9e9e9;
}

.tab-contents {
	background: #e9e9e9;
	padding: 20px;
}

.tab-pane {
	display: none;
}

.tab-pane.current {
	display: block;
}

body {
    color: #4a4a4a;
    background-image: url('images/DSC_4226-1-850x567.jfif');
  }
  
  header {
    background-color: #f0f8ff;
    padding: 200px 0;
    background-image: url('images/bangsean-1.png');
    background-size: cover;
    background-position: center center;
    background-repeat: no-repeat;
    padding: 140px 0 100px;
    color: #f0f8ff;
  }
  
  nav{
    background-color:  #00bcd4;
    color: black;
  }

  .section {
    padding: 60px 0 40px;
  }
  
  .first-section {
    background-color:  #80deea;
    max-width: 960px;
    width: 100%;
    margin: 0 auto;
  }
  
  
  .first-section li {
    margin-bottom: 8px;
  }
  
  .second-section {
    background-color: #FED3C1;
  }
  
  .second-section img{
    width: 50%;
  }

  .second-section p {
    color: #9da2a6;
  }
  
  .second-section img {
    height: 75px;
    margin: 25px 0 10px;
    width: 75px;
  }
  
  .nav-item {
    margin: 10px 16px;
  }
  
  .navbar-brand img {
    height: 46px;
    margin-right: 8px;
    width: 46px;
  }
  
  .first-section img {
    margin-bottom: 35px;
  }
  
  @media (min-width: 768px) {
    .first-section img {
      margin-bottom: 20px;
    }
  }
  
  @media (min-width: 992px) {
    .first-section img {
      margin-bottom: 0;
    }
  }
  
  @media (min-width: 576px) {
    h1 {
      font-size: 48px;
    }
  
    .section {
      padding: 100px 0;
    }
  
    header {
      padding: 200px 0;
    }

  }
          a.button {
      padding: 10px 15px;
      border: 2px solid white;
      border-radius: 100px;
    }
    
    a.button:hover {
      background-color: white;
      color: black;
    }

    a {
      cursor: pointer;
    }

   .h2{
      font-size: 35px;
      padding: 50px;
   }

   .cd{
    width: 256px;
    height: 256px;
   }
   .ul{
     text-align: left;
   }

   h4{
     text-align: left;
   }

   .pp{
    background-color: #b2edf2;
    border-radius: 8px;
    margin-top: 5px;
    padding: 20px 30px;
    text-align: left;
   }

   .foot{
    padding: 50px;
    background-color:  #00bcd4;
    max-width: 960px;
    width: 100%;
    margin: 0 auto;
   }

   .foot > p{
     text-align: center;
   }

.toolbar-container{
  height: 100px;
  margin: 0 auto;
}
  
 