/* 
เน้นเนื้อหา flexbox ในการปรับ layout และ CSS พื้นฐาน 
แก้ไขโค้ดที่พี่เขียนไว้เริ่มต้นหรือเพิ่มเติมด้วยตนเอง
เพิ่มเติม class ด้วยตนเอง 
*/

/*  Part 1: Header */
header {
  display: flex;
  justify-content: center;
  align-items: center;
}

header nav{
  display: flex;
  justify-content: space-between;
}

/* h1 a.button { } */

h1 a.button:hover {
  background-color: #e91e6380;
}

h1 a.button {
  background-color: rgb(252,62,125);
}

.logo-icon{
  width: 80x;
  height: 60x;
}

/* เพิ่มเติมโค้ด ด้วยตัวเอง */
/* Part 2: the chosen cat */
#chosen-list {
  display: flex;
  justify-content: center;
  align-content: center;
  flex-direction: column;
}

.chosen-card {
  display: flex;
  justify-content: center;
  margin-bottom: 10px;
}

.chosen-card img {
  width: 20%;
  margin-right: 10px;
}

/* เพิ่มเติมโค้ด ด้วยตัวเอง */

.chosen-detail {
  width: 50%;
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-content: center;
}

.chosen-detail h1{
  text-align: left;
  color:  midnightblue;
}

.chosen-detail p{
  text-align: left;
}

.chosen-detail .button{
  background-color: midnightblue;
  color: #ffff;
  border-radius: 0px;
}

.chosen-detail .button:hover {
  background-color: rgb(54, 87, 179, 0.5);
  color: #ffffff;
  border-radius: 0px;
}

/* Part 4: the borad */
/* เพิ่มเติมโค้ด ด้วยตัวเอง */
#borad-list{
  display: flex;
  justify-content: space-around;
}

.borad-card img {
  width: 200px;
  height: 200px;
}

.borad-card-detail{
  text-align: left;
}

.love-icon {
  margin: -50px;
  padding-left: 210px;
  font-size: 25px;
  color: red;
}

.love-icon:hover {
  font-size: 25px;
  /* hover ปุ่มจะโปร่งใส่ลงครึ่งหนึ่ง */
  color: rgb(255, 0, 0, 0.5);
}

/* Part 5: the borad */
/* เพิ่มเติมโค้ด ด้วยตัวเอง */
#price-list{
  display: flex;
  justify-content: center;
}

.price-label{
  background-color: royalblue;
  color: #ffffff;
  border-radius: 5px;
}

a.price-button{
  background-color: rgb(16, 163, 16) ;
  color: #ffffff;
  text-align: center;
  border-radius: 20px;
  width: 250px;
}

.price-card {
  display: flex;
  flex-direction: column;
  text-align: left;
  padding-left: 16px;
  padding-right: 16px;
  margin: 0px 16px 0px 0px;
  box-shadow: rgb(255, 255, 255) 0px 8px 0px 0px,
    rgba(0, 0, 0, 0.3) 5px 5px 5px 5px;
  border-radius: 10px 10px 10px 10px;
/* เพิ่มเติมโค้ดด้วยตัวเอง */}
