a {
  cursor: pointer;
}

a.button {
  padding: 10px 15px;
  border: 2px solid white;
  border-radius: 100px;
}

a.button:hover {
  background-color: white;
  color: black;
}

body {
  color: rgba(26, 26, 26, 0.7);
  font-family: "Lora", serif;
  margin: 0;
}

.button,
#details h1,
footer address,
header h1 strong,
#links {
  font-family: "Open Sans", sans-serif;
  font-style: normal;
  letter-spacing: 1px;
  text-transform: uppercase;
}

#details div {
  width: calc(50% - 10px);
}

#details img {
  width: 50%;
}

#details h1 {
  color: rgb(61, 153, 145);
  font-weight: normal;
  letter-spacing: 2px;
}

footer {
  background-color: rgb(31, 31, 31);
  color: rgba(255, 255, 255, 0.8);
  padding: 75px;
  text-align: center;
}

footer p {
  color: rgba(255, 255, 255, 0.4);
}

h1 a.button {
  border: 0;
  background-color: rgb(54, 179, 168); /* rgb(61, 153, 145);*/
}

h1 a.button:hover {
  background-color: rgba(54, 179, 168, 0.75);
  /* In this case, I'm using inherit to ignore the other :hover rule I set. */
  color: inherit;
}

header {
  color: white;
  background-image: url("images/header-banner-cat.png");
  background-size: cover;
  background-position: center;
  height: 600px;
  position: relative;
}

header::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  background-color: rgba(0, 0, 0, 0.3);
}

header h1 {
  font-weight: normal;
  text-align: center;
  z-index: 1;
}

header h1 a {
  font-size: 15px;
}

header h1 em {
  font-size: 20px;
  letter-spacing: 1px;
}

header h1 strong {
  font-size: 68px;
  letter-spacing: 4px;
}

header nav {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  font-size: 14px;
  padding: 20px;
}

#links a {
  margin: 15px;
}

#logo {
  font-size: 40px;
}

#description p {
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 125px;
  width: 60%;
}

#description h1 {
  font-size: 28px;
  font-weight: normal;
  color: rgba(26, 26, 26, 0.9);
}

p {
  line-height: 36px;
}

section {
  margin: 100px 125px;
  text-align: center;
}




