* {
    box-sizing: border-box;
}

body {
    font-family: Arial, Helvetica, sans-serif;
    background-image:url('https://pbs.twimg.com/media/D2mFpR6UgAAALQ9.jpg');
}

header {
    background-image: url('https://i.pinimg.com/originals/0b/52/cf/0b52cfa20534e151d7c781034eb22588.jpg');
    padding: 20px;
    text-align: center;
    font-size: 100px;
    color: black;
}

section {
    display: -webkit-flex;
    display: flex;
}

nav {
    -webkit-flex: 1;
    -ms-flex: 1;
    flex: 1;
    background-image: url('https://i.pinimg.com/originals/a5/94/10/a594107270f89a7fcb2aababaa05b7d2.png');
    padding: 20px;
    text-align: center;
}

article {
    -webkit-flex: 3;
    -ms-flex: 3;
    flex: 3;
    background-image: url('https://i.pinimg.com/originals/30/4d/41/304d41541f45f1c886b2c64762a4e6a8.jpg');
    padding: 20px;
}

div{
    background-color:#D1EAF5;
    padding:10px;
    text-align: center;
}

h1{
    font-size: 35px;
    padding: 10px;
}

p{
    font-size: 20px;
    color:black;
}

footer{
    background-image: url('https://i.pinimg.com/originals/0b/52/cf/0b52cfa20534e151d7c781034eb22588.jpg');
    padding: 30px;
}

@media (max-width: 600px) {
    section {
        -webkit-flex-direction: column;
        flex-direction: column;
    }
}