body {
    color: black;
    font-family: Helvetica;
    font-size: 30px;
    text-align: center;
}

h1{
    color: black;
    font-size: 36px;
    text-align: center;
}

a {
    display: block;
}

p {
  border: 5px solid palevioletred;
  display: inline-block;
  background-color:lavenderblush ;
}

span {
    background-color: yellow;
}
