body {
    color: #4a4a4a;
    background-color:  #F9E1E0;
  }
  
  header {
    background-color: #f0f8ff;
    padding: 200px 0;
    background-image: url('img/BG.jpg');
    background-size: cover;
    background-position: center center;
    background-repeat: no-repeat;
    padding: 140px 0 100px;
  }
  
  nav{
    background-color:  #F5BFB1;
  }

  .section {
    padding: 60px 0 40px;
  }
  
  .first-section {
    background-color: #FBE1DD;
  }
  
  .first-section ul {
    background-color: #FEC7B8;
    border-radius: 8px;
    margin-top: 25px;
    padding: 30px 55px;
  }
  
  .first-section li {
    margin-bottom: 8px;
  }
  
  .second-section {
    background-color: #FED3C1;
  }
  
  .second-section img{
    width: 50%;
  }

  .second-section p {
    color: #9da2a6;
  }
  
  .second-section img {
    height: 75px;
    margin: 25px 0 10px;
    width: 75px;
  }
  
  .nav-item {
    margin: 10px 16px;
  }
  
  .navbar-brand img {
    height: 46px;
    margin-right: 8px;
    width: 46px;
  }
  
  .first-section img {
    margin-bottom: 35px;
  }
  
  @media (min-width: 768px) {
    .first-section img {
      margin-bottom: 20px;
    }
  }
  
  @media (min-width: 992px) {
    .first-section img {
      margin-bottom: 0;
    }
  }
  
  @media (min-width: 576px) {
    h1 {
      font-size: 48px;
    }
  
    .section {
      padding: 100px 0;
    }
  
    header {
      padding: 200px 0;
    }

    a.button {
      padding: 10px 15px;
      border: 2px solid white;
      border-radius: 100px;
    }
    
    a.button:hover {
      background-color: white;
      color: black;
    }

    a {
      cursor: pointer;
    }

   .h2{
      font-size: 35px;
      padding: 50px;
   }

   .cd{
    width: 256px;
    height: 256px;
   }
   .ul{
     text-align: left;
   }

   h4{
     text-align: left;
   }

   .pp{
    background-color: #FEC7B8;
    border-radius: 8px;
    margin-top: 5px;
    padding: 20px 30px;
    text-align: left;
   }

  }
  
  