head {
    display: none;
}
body {
    overflow-y: scroll;
}
body {
    background: #fff;
    color: #1c1e21;
    direction: ltr;
    line-height: 1.34;
    margin: 0;
    padding: 0;
    unicode-bidi: embed;
}

._8esk {
    margin: 0 auto;
    padding: 20px 0;
    position: relative;
    width: 980px;
}
._8esf ._8esl {
    box-sizing: border-box;
    margin-right: 0;
    padding-right: 32px;
    width: 580px;
}
._8esl {
    display: inline-block;
    margin-right: 15.999px;
    vertical-align: top;
    width: 565px;
}
.se {
    display: inline-block;
    vertical-align: top;
}
._8iep {
    height: 456px;
    width: 396px;
}
._8eso{
    font-family: SFProDisplay-Regular, Helvetica, Arial, sans-serif;
    font-size: 30px;
    font-weight: normal;
    line-height: 32px;
    width: 500px;
}
._8iep {
    height: 456px;
    width: 396px;
}
._8icy ._6luv {
    padding-bottom: 24px;
    padding-top: 10px;
}
._6luv {
    align-items: center;
    background-color: #fff;
    border: none;
    border-radius: 8px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, .1), 0 8px 16px rgba(0, 0, 0, .1);
    box-sizing: border-box;
    margin: 40px 0 0;
    padding: 20px 0 28px;
    width: 396px;
}
._52jv {
    text-align: center;
}
form {
    margin: 0;
    padding: 0;
}
._8icy ._6lux ._6luy, ._9aha ._6lux ._6luy {
    border-radius: 6px;
    padding-top: 6px;
}
._8icy ._6lux ._6luy {
    font-size: 19px;
    padding: 14px 16px;
    width: 330px;
    padding-top: 6px;
}
._6ltg {
    padding-top: 6px;
}
._8icy ._6lth {
    background-color: #1877f2;
    border: none;
    border-radius: 6px;
    font-size: 22px;
    line-height: 48px;
    padding: 0 16px;
    width: 332px;
    color: #fff;
}
._8icy ._6ltj {
    margin-top: 16px;
}
._8icy ._6ltj a {
    color: #1877f2;
    font-size: 16px;
    font-weight: 500;
}
._8icy ._8icz {
    align-items: center;
    border-bottom: 1px solid #dadde1;
    display: flex;
    margin: 20px 16px;
    text-align: center;
}
#facebook ._8esf ._58mk {
    border-top: none;
    color: #1c1e21;
    font-family: SFProText-Regular, Helvetica, Arial, sans-serif;
    font-size: 16px;
    font-weight: normal;
    padding-top: 0;
}
._4jy2 {
    background-color: #42b72a;
    border-color: #42b72a;
}
._42ft {
    cursor: pointer;
    display: inline-block;
    text-decoration: none;
    white-space: nowrap;
}
._95ka {
    padding-bottom: 112px;
    padding-top: 72px;
}
._6lux {
    display: inline-block;
    font-size: 16px;
    margin: auto;
    padding: 6px 0;
    width: 302px;
}
._8icy ._6lti {
    border: none;
    border-radius: 6px;
    font-size: 19px;
    line-height: 48px;
    padding: 0 16px;
    color: #fff;
}
#facebook ._8esf ._58mk {
    border-top: none;
    color: #1c1e21;
    font-family: SFProText-Regular, Helvetica, Arial, sans-serif;
    font-size: 16px;
    font-weight: normal;
    padding-top: 0;
}
._8ilg ._58mk, ._8icx ._58mk {
    margin-top: 28px;
    text-align: center;
}