header{
    background-image: url("https://www.recservices.iastate.edu/wp-content/uploads/2019/09/IMG_1422-e1578937872195-1127x600.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    height: 180px;
    text-align: center;
}

header h1{
    padding-top: 20px;
    color:  white;
    font-size: 35px;
}

section.right{
    background-color:whitesmoke;
    padding-left: 10px;
    padding-right: 90px;
}

aside.left{
    background-color:lightsalmon;
    width: 200px;
    height: auto;
    padding-top: 20px;
    padding-bottom: 20px;
    padding-left: 30px;
    padding-right: 30px;
}

img {
    width: 150px;
    height: 100;
    border: double black medium;
}

.active{
    background-color: white;
    border: none;
    color: black;
    padding: 15px 32px;
    display: inline-block;
    font-size: 16px;
    margin: 40px ;
    border-radius: 10px;
    text-align: left;
}

.active:hover{
    background-color: rgba(128,128,128, 0.5);
}

.active:visited{
    background-color: white;
}

main{
    display:inline-flex;
  }