#flex-container {
  display: flex;
  justify-content: space-between;
  height: px;
}

div.col {
  background-color: palevioletred;
  border:  solid;
  width: calc(50% - 10px);
}

nav{
  padding: 10px;
  margin:  2px 2px 2px 2px;
  background-color: blue;
  width: calc(99% - 10px);
  height: 20px;
}

header{
  padding: 10px;
  margin:  2px 2px 2px 2px;
  background-color: lightblue;
  width: calc(99% - 10px);
  height: 100px;

}
 
section{
  padding: 20px 0px 0px 0px;
  margin: 6em 4em 6em 4em;
  background-color: burlywood;
  width: calc(90% - 10px);
  height: 345px;
}

#flex-container{
  padding: 50px 0px 0px 0px;
  margin: 6em 0em 0em 0em;
  background-color:gray;
  width: calc(100% - 0px);
  height: 200px;
}