body {
  color: #4a4a4a;
}

header {
  background-color: #f0f8ff;
  padding: 200px 0;
  background-image: url('https://cdn.hipwallpaper.com/i/91/79/MbmsfA.jpg');
  background-size: cover;
  background-position: center center;
  background-repeat: no-repeat;
  padding: 140px 0 100px;
}

.section {
  padding: 60px 0 40px;
}

.first-section {
  background-color: white;
}

.first-section ul {
  background-color: #f7f9fc;
  border-radius: 8px;
  margin-top: 25px;
  padding: 30px 55px;
}

.first-section li {
  margin-bottom: 8px;
}

.second-section {
  background-color: #fbfbfb;
}

.second-section p {
  color: #9da2a6;
}

.second-section img {
  height: 75px;
  margin: 25px 0 10px;
  width: 75px;
}

.nav-item {
  margin: 10px 16px;
}

.navbar-brand img {
  height: 46px;
  margin-right: 8px;
  width: 46px;
}

/* ใส่หลังใส่ class */
.first-section img {
  margin-bottom: 35px;
}

@media (min-width: 768px) {
  .first-section img {
    margin-bottom: 20px;
  }
}

@media (min-width: 992px) {
  .first-section img {
    margin-bottom: 0;
  }
}

@media (min-width: 576px) {
  h1 {
    font-size: 48px;
  }

  .section {
    padding: 100px 0;
  }

  header {
    padding: 200px 0;
  }
}
