header{
    background-color: gray;
}

.right {
    background-color: gray;
}

h1{
    text-align: center;
    color: white;
    font-size: 40px;
}

h2{
    text-align: left;
    color: white;
    font-size: 30px;
}

p{
    text-align: left;
    font-size: 20px;
}

img {
    width: 20%;
    height: 60%;
}

abbr{
    background-color: pink;
}
